<footer class="footer">
  <div class="footer__top">
    <!-- LOGO -->
    <div class="footer__logo">
      <img
        src="../../../assets/images/Bite_Factory_crop.svg"
        alt="logo"
        routerLink="/"
      />
    </div>

    <!-- LINKEK -->
    <ul class="footer__links">
      <li><a routerLink="menu">Menu</a></li>
      <li><a routerLink="reservation">Reservation</a></li>
      <li><a routerLink="about">About us</a></li>
      <li><a routerLink="events">Events</a></li>
    </ul>

    <!-- SOCIAL ICONS -->
    <div class="footer__socials">
      <a href="https://www.facebook.com/"
        ><img src="/assets/images/facebook.svg" alt="facebook"
      /></a>
      <a href="https://www.instagram.com/"
        ><img src="/assets/images/instagram.svg" alt="instagram"
      /></a>
      <a href="https://www.tiktok.com/"
        ><img src="/assets/images/tiktok.svg" alt="tiktok"
      /></a>
    </div>
  </div>

  <div class="footer__bottom">
    <p>&copy; 2025 Bite Factory. All rights reserved.</p>
  </div>
</footer>
