.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.8rem 2.5rem;
  background-color: #712713;

  color: #fff;

  @media (min-width: 768px) {
    padding: 2.2rem 2.5rem;
  }

  /* LOGO középre igazítás */
  &__logo {
    height: 75px;
    width: 75px;
    overflow: hidden;

    & img {
      height: 100%;
      width: 100%;
    }
    @media (min-width: 768px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__toggle {
    font-size: 1.8rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;

    @media (min-width: 768px) {
      display: none;
    }
  }

  /* DESKTOP MENÜ */
  &__links__desktop {
    list-style: none;
    display: none; /* mobilon nem kell */
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 0;

    @media (min-width: 768px) {
      display: flex;
    }

    /* Bal és jobb igazítás */
    &--left {
      margin-right: auto;
    }

    &--right {
      margin-left: auto;
    }
  }

  /* MOBIL MENÜ */
  &__links__mobile {
    list-style: none;
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: absolute;
    top: 100%;
    left: 0;

    &--open {
      display: flex;
    }
  }

  &__item {
    border-top: 1px solid #444;

    @media (min-width: 768px) {
      border: none;
    }
  }

  &__link {
    display: block;
    padding: 1.2rem 1.5rem;
    color: #fff;
    text-decoration: none;

    &:hover {
      background-color: #444;
    }

    @media (min-width: 768px) {
      padding: 0 1.5rem;

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
}
