<nav class="navbar">
  <!-- Toggle ikon mobilra -->
  <button class="navbar__toggle" (click)="toggleMenu()">&#9776;</button>

  <!-- Bal oldali menü desktopon -->
  <ul class="navbar-links__desktop navbar-links__desktop--left">
    <li class="navbar__item">
      <a class="navbar__link" routerLink="menu">Menu</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/about">Reservation</a>
    </li>
  </ul>

  <!-- Középen a LOGO -->
  <div class="navbar__logo">
    <img
      src="../../../assets/images/Bite_Factory_crop.svg"
      alt="logo"
      routerLink=""
    />
  </div>

  <!-- Jobb oldali menü desktopon -->
  <ul class="navbar-links__desktop navbar-links__desktop--right">
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/services">About us</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/contact">Events</a>
    </li>
  </ul>

  <!-- menü mobilon -->
  <ul
    class="navbar-links__mobile"
    [class.navbar-links__mobile--open]="isMenuOpen"
  >
    <li class="navbar__item">
      <a class="navbar__link" routerLink="menu">Menu</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/about">Reservation</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/services">About us</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/contact">Events</a>
    </li>
  </ul>
</nav>
