$background-color: #712713;

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.8rem 2.5rem;
  background-color: $background-color;
  color: #fff;

  @media (min-width: 768px) {
    padding: 2.2rem 2.5rem;
  }

  /* ===== LOGO ===== */
  &__logo {
    width: 75px;
    height: 75px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    @media (min-width: 768px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  /* ===== MOBILE TOGGLE ===== */
  &__toggle {
    font-size: 1.8rem;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;

    @media (min-width: 768px) {
      display: none;
    }
  }

  /* ===== DESKTOP MENU ===== */
  &-links__desktop {
    display: none;
    list-style: none;

    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 0;

    @media (min-width: 768px) {
      display: flex;
    }

    &--left {
      margin-right: auto;
    }

    &--right {
      margin-left: auto;
    }
  }

  /* ===== MOBILE MENU ===== */
  &-links__mobile {
    position: absolute;
    top: 100%;
    left: 0;

    display: none;
    flex-direction: column;
    width: 100%;

    margin: 0;
    padding: 0;
    list-style: none;

    background-color: $background-color;

    &--open {
      display: flex;
    }
  }

  /* ===== MENU ITEMS ===== */
  &__item {
    border-top: 1px solid $background-color;

    @media (min-width: 768px) {
      border: none;
    }
  }

  &__link {
    display: block;
    padding: 1.2rem 1.5rem;

    color: #fff;
    text-decoration: none;
    font-size: 20px;

    &:hover {
      background-color: $background-color;
    }

    @media (min-width: 768px) {
      padding: 0 1.5rem;

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
}
