<nav class="navbar">
  <!-- Toggle ikon mobilra -->
  <button class="navbar__toggle" (click)="toggleMenu()">&#9776;</button>

  <!-- Bal oldali menü desktopon -->
  <ul class="navbar__links__desktop navbar__links__desktop--left">
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/">Home</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/about">About</a>
    </li>
  </ul>

  <!-- Középen a LOGO -->
  <div class="navbar__logo">
    <img src="../../../assets/images/Bite_Factory_crop.svg" alt="logo" />
  </div>

  <!-- Jobb oldali menü desktopon -->
  <ul class="navbar__links__desktop navbar__links__desktop--right">
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/services">Services</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/contact">Contact</a>
    </li>
  </ul>

  <!-- menü mobilon -->
  <ul
    class="navbar__links__mobile"
    [class.navbar__links__mobile--open]="isMenuOpen"
  >
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/">Home</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/about">About</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/services">Services</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="/contact">Contact</a>
    </li>
  </ul>
</nav>
