<nav class="navbar">
  <!-- Mobile toggle -->
  <button class="navbar__toggle" (click)="toggleMenu()">&#9776;</button>

  <!-- Desktop left menu -->
  <ul class="navbar-links__desktop navbar-links__desktop--left">
    <li class="navbar__item">
      <a class="navbar__link" routerLink="menu">Menu</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="reservation">Reservation</a>
    </li>
  </ul>

  <!-- Logo (centered) -->
  <div class="navbar__logo">
    <img
      src="../../../assets/images/home/Bite_Factory_crop.svg"
      alt="Bite Factory logo"
      routerLink=""
    />
  </div>

  <!-- Desktop right menu -->
  <ul class="navbar-links__desktop navbar-links__desktop--right">
    <li class="navbar__item">
      <a class="navbar__link" routerLink="about">About us</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="events">Events</a>
    </li>
  </ul>

  <!-- Mobile menu -->
  <ul
    class="navbar-links__mobile"
    [class.navbar-links__mobile--open]="isMenuOpen"
  >
    <li class="navbar__item">
      <a class="navbar__link" routerLink="menu">Menu</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="reservation">Reservation</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="about">About us</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" routerLink="events">Events</a>
    </li>
  </ul>
</nav>
