<!-- HERO SECTION -->
<section class="hero__section">
  <button class="btn rounded-pill" routerLink="/reservation">
    Reserve
    <img src="/assets/images/button/dish.svg" alt="dish_ikon" />
  </button>

  <div class="hero__overlay"></div>
</section>

<!-- STORY SECTION -->
<section class="story__section">
  <h2>Our Story</h2>

  <p>
    At Bite Factory, we believe every bite should be an experience. Founded with
    a passion for bold flavors and quick, fresh meals, we’ve been serving our
    community delicious comfort food made from quality ingredients. From
    sizzling burgers to handcrafted sides, our mission is simple: fast, tasty,
    and unforgettable.
  </p>

  <button class="btn rounded-pill" routerLink="/about">
    Our Story
    <img src="/assets/images/button/story.svg" alt="story_ikon" />
  </button>
</section>

<!-- CHEF'S PICKS SECTION -->
<section class="chef-pics__section">
  <div class="chef-pics__left">
    <h3>The Menu</h3>
    <h2>Chef's Picks</h2>

    <button class="btn rounded-pill" routerLink="/menu">
      Full Menu
      <img src="/assets/images/button/menu.svg" alt="menu_ikon" />
    </button>
  </div>

  <div class="chef-pics__img"></div>
</section>

<!-- CAROUSEL SECTION -->
<section class="food-carousel__section"></section>

<div class="food-carousel">
  <button
    class="food-carousel__nav food-carousel__nav--prev"
    (click)="scrollLeft()"
  >
    &#10094;
  </button>

  <div #carousel class="food-carousel__track">
    <img
      *ngFor="let img of foodImages"
      [src]="img"
      alt="food"
      class="food-carousel__img"
    />
  </div>

  <button
    class="food-carousel__nav food-carousel__nav--next"
    (click)="scrollRight()"
  >
    &#10095;
  </button>
</div>
