$background-color: #712713;

/* ===== PLACEHOLDERS ===== */
%button-style {
  background-color: $background-color;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 8px 15px;

  img {
    height: 30px;
  }
}

/* ===== HERO ===== */
.hero__section {
  position: relative;
  height: 600px;
  background: url("/assets/images/home/restaurant-interior.jpg") center / cover
    no-repeat;
  clip-path: ellipse(100% 90% at 50% 0);

  .btn {
    @extend %button-style;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  div {
    height: 600px;
    background-color: rgba(0, 0, 0, 0.4);
    clip-path: ellipse(80% 100% at 50% 0);
  }

  @media (min-width: 768px) {
    clip-path: ellipse(80% 100% at 50% 0);
  }
}

/* ===== STORY ===== */
.story__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;

    &::after {
      content: "";
      display: block;
      height: 4px;
      margin-top: 0.5rem;
      background-color: #ff8c42;
    }
  }

  p {
    max-width: 800px;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    line-height: 1.6;
  }

  .btn {
    @extend %button-style;
  }

  @media (min-width: 768px) {
    padding: 6rem 2rem;

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

/* ===== CHEF PICKS ===== */
.chef-pics__section {
  display: flex;
  height: 400px;

  .chef-pics__left {
    width: 50%;
    height: 100%;
    background-color: #f0d2c2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 1.3rem;
      margin-bottom: 0.2rem;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 3rem;
    }

    .btn {
      @extend %button-style;
    }
  }

  .chef-pics__img {
    width: 50%;
    height: 100%;
    background: url("/assets/images/home/hamburger_mobile.jpg") center / cover
      no-repeat;

    @media (min-width: 768px) {
      background: url("/assets/images/home/hamburger_pc.jpg") center / cover
        no-repeat;
    }
  }
}

/* ===== CAROUSEL ===== */
.food-carousel {
  position: relative;
  width: 90%;
  margin: 40px auto;
  padding: 0 80px;

  &__track {
    display: flex;
    gap: 12px;
    padding: 12px 10px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__img {
    height: 350px;
    object-fit: cover;
    aspect-ratio: 1.4 / 3;
    border-radius: 30px;
  }

  &__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px 24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 10;

    background: $background-color;
    color: #ffffff;
    font-size: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: 0.2s;

    &:hover {
      transform: translateY(-50%) scale(1.1);
    }

    &--prev {
      left: 10px;
    }

    &--next {
      right: 10px;
    }
  }

  @media (min-width: 768px) {
    padding: 0 120px;
  }
}
