/* ===== VARIABLES ===== */
$accent-color: #ff8c42;
$dark-brown: #712713;

/* ===== MIXINS ===== */
@mixin button-style {
  background-color: $dark-brown;
  color: #fff;
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;

  img {
    height: 30px;
    margin-left: 0.5rem;
  }
}

/* ===== SHARED ===== */
.section-title {
  display: inline-block;
  background-color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  border-left: 5px solid $accent-color;
  border-right: 5px solid $accent-color;
}

/* ===== HERO ===== */
.hero {
  height: 600px;

  &--about {
    background: url("/assets/images/about_us/chef-team.jpg") center / cover
      no-repeat;
  }
}

/* ===== RESTAURANT ===== */
.restaurant {
  padding: 5rem 1.5rem;
  text-align: center;

  @media (min-width: 768px) {
    display: flex;
    gap: 4rem;
    text-align: left;
  }

  &__text {
    max-width: 420px;
    margin: 3.2rem auto;
  }

  &__button {
    margin-top: 2rem;
    @include button-style;
  }

  &__images {
    margin: 0 auto;
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;

    &--primary {
      height: 320px;
      aspect-ratio: 2 / 3;
      transform: rotate(20deg);
    }

    &--secondary {
      height: 220px;
      margin-top: -2rem;
    }
  }
}

/* ===== CHEF ===== */
.chef {
  padding: 5rem 1.5rem;
  background-color: #ffddd2;
  text-align: center;

  @media (min-width: 768px) {
    display: flex;
    gap: 4rem;
    text-align: left;
  }

  &__media {
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__content {
    margin-top: 5.7rem;
  }

  &__image {
    width: 90%;
    aspect-ratio: 2 / 3;
    display: block;
    margin: 2rem auto 0;

    @media (min-width: 768px) {
      margin: 2rem 0 0;
      border-left: 5px solid $accent-color;
    }
  }

  &__button {
    margin-top: 2rem;
    @include button-style;
  }
}

/* ===== INFO ===== */
.info {
  padding: 4rem 1.5rem;
  text-align: center;

  &__content {
    margin-top: 3rem;

    @media (min-width: 768px) {
      display: flex;

      align-items: center;

      gap: 5rem;
    }
  }

  &__map {
    flex: 1;

    &-frame {
      width: 100%;
      min-height: 460px;

      margin-bottom: 3rem;
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }

  &__opening {
    flex: 1;

    background-color: #fff;
    padding: 36px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  &__hours {
    width: 100%;

    margin-top: 1.5rem;
  }

  &__row--highlight {
    .info__day,
    .info__time {
      color: $dark-brown;
      font-weight: 600;
    }
  }

  &__day,
  &__time {
    padding: 0.75rem 0;
  }

  &__day {
    text-align: left;
    font-weight: 500;
  }

  &__time {
    text-align: right;
    color: #555;
  }
}
