$background-color: #712713;

%button-style {
  background-color: $background-color;
  border: none;

  font-size: 20px;

  padding: 8px 15px;

  img {
    height: 30px;
  }
}

.hero__section {
  background: url("/assets/images/restaurant-interior.jpg") center/cover
    no-repeat;
  clip-path: ellipse(100% 90% at 50% 0);

  height: 600px;
  position: relative;

  .btn {
    @extend %button-style;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
  }

  div {
    background-color: rgba(0, 0, 0, 0.4);
    clip-path: ellipse(80% 100% at 50% 0);
    height: 600px;
  }

  @media (min-width: 768px) {
    clip-path: ellipse(80% 100% at 50% 0);
  }
}

.story__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 4rem 2rem;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    max-width: 800px;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
  }

  .btn {
    @extend %button-style;
  }

  @media (min-width: 768px) {
    padding: 6rem 2rem;

    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

.chef-pics__section {
  display: flex;
  height: 400px;

  .chef-pics__left {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #f0d2c2;

    h2 {
      font-size: 2rem;
      margin-bottom: 3rem;
    }

    h3 {
      font-size: 1.3rem;
      margin-bottom: 0.2rem;
    }

    .btn {
      @extend %button-style;
    }
  }
  .chef-pics__img {
    height: 100%;
    width: 50%;

    background: url("/assets/images/hamburger_mobile.jpg") center/cover
      no-repeat;

    @media (min-width: 768px) {
      background: url("/assets/images/hamburger_pc.jpg") center/cover no-repeat;
    }
  }
}

//Carousel

.food-carousel {
  position: relative;
  margin: 40px auto;

  width: 90%;
  padding: 0 80px; // hely a nyilaknak mobilon

  &__track {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 12px 10px;
    scroll-behavior: smooth;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__img {
    object-fit: cover;
    height: 350px;
    aspect-ratio: 1.4/3;
    border-radius: 30px;
  }

  &__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;

    background: $background-color;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

    color: #ffffff;

    font-size: 1.5rem;

    padding: 6px 24px;

    border-radius: 50%;
    border: none;

    cursor: pointer;

    z-index: 10;

    &:hover {
      background: $background-color;
      transform: translateY(-50%) scale(1.1);
    }

    &--prev {
      left: 10px;
    }

    &--next {
      right: 10px;
    }
  }

  /* DESKTOP */
  @media (min-width: 768px) {
    padding: 0 120px;
  }
}
