<section class="hero"></section>

<section class="event">
  <h1 class="event__title">Salsa Night</h1>

  <p>
    Join us for an unforgettable Salsa Night at Bite Factory! Learn the basics
    with our salsa dance lesson, enjoy great drinks at the bar, and relax with
    card games in a lively, friendly atmosphere. Music, movement, and good vibes
    guaranteed!
  </p>

  <p>
    Whether you come with friends or on your own, this is the perfect
    opportunity to meet new people and enjoy a vibrant evening together. No
    prior dance experience is needed – just bring your enthusiasm and let the
    rhythm guide you. Get ready for a night full of energy, laughter, and
    unforgettable moments at Bite Factory!
  </p>

  <div class="event__item">
    <img src="/assets/images/events/salsa-instructor-extended.jpg" alt="" />
    <h2>Salsa Lessons</h2>
  </div>

  <div class="event__item event__item--reverse">
    <img src="/assets/images/events/bar.jpg" alt="" />
    <h2>Equipped Bar</h2>
  </div>

  <div class="event__item">
    <img src="/assets/images/events/poker.jpg" alt="" />
    <h2>Card Games</h2>
  </div>
</section>
